{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">{{ message }}</div>
    {% endfor %}

    <div class="my-5">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Color</th>
                <th scope="col">Race</th>
                <th scope="col">Image</th>
                <th scope="col">Owner</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>

            {% for cat in cats %}
                <tr>
                    <th scope="row">{{ cat.id }}</th>
                    <td>{{ cat.name }}</td>
                    <td style="background-color: {{ cat.color }}"></td>
                    <td>{{ cat.race }}</td>
                    <td>
                        {% if cat.filename %}
                            <img src="{{ vich_uploader_asset(cat, 'image') | imagine_filter('thumb') }}" alt="">
                        {% else %}
                            <img src="{{ asset('/images/cats/empty.jpg') | imagine_filter('thumb') }}" alt="">
                        {% endif %}
                    </td>
                    <td>{{ cat.owner }}</td>
                    <td>
                        <a href="{{ path('cats_edit', {id: cat.id}) }}" class="btn btn-success">Editer</a>
                        <form method="post" action="{{ path('cats_delete', {id: cat.id}) }}" style="display: inline-block;" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cat.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}