<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ asset('/build/images/favicon.png') }}" />
        <title>{% block title %}Les chatons !{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand mr-auto" href="{{ path('cats_list') }}">{{ 'header.navbar.title' | trans }}</a>
            {% if app.user %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ path('logout') }}" class="nav-link">Se déconnecter</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
