<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ asset('/build/images/favicon.png') }}" />
        <title>{% block title %}Les chatons !{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ path('cats_list') }}">Cats</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{ path('cats_list') }}">Listes des chatons</a>
                    <a class="nav-item nav-link" href="{{ path('cats_create') }}">Ajout d'un chaton</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block body %}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-4">{{ message }}</div>
            {% endfor %}

            <div class="my-5">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Color</th>
                        <th scope="col">Race</th>
                        <th scope="col">Image</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>

                    {% for cat in cats %}
                        <tr>
                            <th scope="row">{{ cat.id }}</th>
                            <td>{{ cat.name }}</td>
                            <td style="background-color: {{ cat.color }}"></td>
                            <td>{{ cat.race }}</td>
                            <td>
                                {% if cat.filename %}
                                    <img src="{{ vich_uploader_asset(cat, 'image') }}" alt="" style="max-width: 100px; height: auto;">
                                {% endif %}
                            </td>
                            <td>{{ cat.owner }}</td>
                            <td>
                                <a href="{{ path('cats_edit', {id: cat.id}) }}" class="btn btn-success">Editer</a>
                                <form method="post" action="{{ path('cats_delete', {id: cat.id}) }}" style="display: inline-block;" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cat.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endblock %}
    </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
