{% extends 'base.html.twig' %}

{% block body %}

    {#    <div class="mt-4 text-right">#}
    {#        <a href="{{ path('cats_create') }}" class="btn btn-primary">#}
    {#            {{ 'page.cat.list.btn.create' | trans }}#}
    {#        </a>#}
    {#    </div>#}

    {#    {% for message in app.flashes('success') %}#}
    {#        <div class="alert alert-success mt-4">{{ message | trans }}</div>#}
    {#    {% endfor %}#}

    <div class="my-5">
        <h1>{{ 'page.user.profile.title' | trans }}</h1>

        <div class="row">
            <div class="col-xs-12 col-sm-12">Username : {{ user.username }}</div>
            <div class="col-xs-12 col-sm-12">Rôle(s) : {{ user.roles|join(', ')|lower }}</div>
        </div>
    </div>

{% endblock %}